.layout-node-form {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}


.layout-node-form > div {
  min-width: initial;
  width: 100%;
  float: none;
}


.layout-node-form .layout-region--node-main .layout-region__content,
.layout-node-form .layout-region--node-footer .layout-region__content {
  max-width: 100%;
  width: 100%;
}

.ds-entity--paragraph .su-media .su-media__caption {
  float: none;
  max-width: 100%;
}

iframe.next-site-preview {
  outline: none;
  border: none;
}
